<meta name="twitter:title" content="Cthuloot">
<meta name="twitter:description" content="Cthuloot, the a fun & pulpish cooperative mutliplayer game">
<meta property="og:title" content="Cthuloot">
<meta property="og:description" content="Cthuloot, the a fun & pulpish cooperative mutliplayer game">
<meta name="author" content="Pixelnest Studio">
<meta name="description" content="Cthuloot, the a fun & pulpish cooperative mutliplayer game">
<meta name="keywords" content="cthulhu, dungeon, crawler, coop, multiplayer, online, friends, couple, family, pulp">
<meta property="og:site_name" content="Cthuloot">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.cthuloot.games">
<meta property="og:locale" content="en">
<meta property="og:image" content="https://www.cthuloot.games/static/images/card.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:height" content="1920">
<meta property="og:image:width" content="1080">
<meta name="twitter:card" content="photo">
<meta name="twitter:site" content="https://www.cthuloot.games">
<meta name="twitter:creator" content="cthuloot">
<meta name="twitter:url" content="https://www.cthuloot.games">
<meta name="twitter:image:src" content="https://www.cthuloot.games/static/images/card.png">