<div class="bg-gray-900/75 rounded min-w-96 pt-4 pb-2 px-8 w-fit">
    <h2 class="uppercase text-3xl text-white mt-4 mb-4 text-center">Gallery</h2>
   
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
        <a href="{{site.url}}/static/images/assets/screenshot1.png">
          <img class="object-cover object-center w-full h-40 max-w-full rounded-lg"
            src="{{site.url}}/static/images/assets/screenshot1.png"/>
        </a>
        <a href="{{site.url}}/static/images/assets/screenshot2.png">
          <img class="object-cover object-center w-full h-40 max-w-full rounded-lg"
            src="{{site.url}}/static/images/assets/screenshot2.png"/>
        </a>
        <a href="{{site.url}}/static/images/assets/screenshot3.png">
          <img class="object-cover object-center w-full h-40 max-w-full rounded-lg"
            src="{{site.url}}/static/images/assets/screenshot3.png" />
        </a>
        <a href="{{site.url}}/static/images/assets/screenshot4.png">
          <img class="object-cover object-center w-full h-40 max-w-full rounded-lg"
            src="{{site.url}}/static/images/assets/screenshot4.png"/>
        </a>
        <a href="{{site.url}}/static/images/assets/screenshot5.png">
          <img class="object-cover object-center w-full h-40 max-w-full rounded-lg"
            src="{{site.url}}/static/images/assets/screenshot5.png"/>
        </a>
        <a href="{{site.url}}/static/images/assets/gif1.gif">
          <img class="object-cover object-center w-full h-40 max-w-full rounded-lg"
            src="{{site.url}}/static/images/assets/gif1.gif" />
        </a>
        <a href="{{site.url}}/static/images/assets/gif2.gif">
          <img class="object-cover object-center w-full h-40 max-w-full rounded-lg"
          src="{{site.url}}/static/images/assets/gif2.gif" />
        </a>
        <a href="{{site.url}}/static/images/assets/gif3.gif">
          <img class="object-cover object-center w-full h-40 max-w-full rounded-lg"
          src="{{site.url}}/static/images/assets/gif3.gif" />
        </a>
        <a href="{{site.url}}/static/images/assets/gif4.gif">
          <img class="object-cover object-center w-full h-40 max-w-full rounded-lg"
          src="{{site.url}}/static/images/assets/gif4.gif" />
        </a>
      </div>
  </div>