<div class="bg-gray-900/75 rounded min-w-96 pt-4 pb-2 px-8 max-w-screen-sm
    text-white
    flex flex-col space-y-3">
<h2 class="uppercase text-3xl text-white mt-4 mb-4 text-center">The Team</h2>
  <p class="text-l">
    Cthuloot is a coproduction  <a href="https://pixelnest.io" class="text-bold text-l">Pixelnest Studio</span> x  <a href="https://heandbang.club" class="text-bold text-l">Headbang Club</a>
  </p>
  <ul class="list-disc text-md justify-center">
    <li>
      <span class="text-bold text-l">Damien Mayance:</span> dev
    </li>
    <li>
      <span class="text-bold text-l">Eddy Margueron:</span> 3D
    </li>
    <li>
      <span class="text-bold text-l">David Elahée:</span> Game Design & producing
    </li>
    <li>
      <span class="text-bold text-l">Louna Charial:</span> Level Design
    </li>
    <li>
      <span class="text-bold text-l">Corentin Brasart:</span> Sound Design & Music
    </li>
  </ul>
</div>