<div class="bg-gray-900/75 rounded min-w-96 pt-4 pb-2 px-8 max-w-screen-sm
    text-white
    flex flex-col space-y-3">
  <p class="text-2xl flex justify-center items-center">CTHULOOT is a coop arcade game for up to 4 players</p>
  <p class="text-l">
    Play as looters in search of mythical relics around the world, but beware of the traps and other dangers that await
    in the shadows… and in other dimensions?!
  </p>
  <ul class="list-disc text-xl justify-center">
    <li>
      <span class="text-bold text-2xl">TEAM UP:</span> Play with friends and family members!
    </li>
    <li>
      <span class="text-bold text-2xl">COOP CAMPAIGN:</span> 4 chapters, 75+ levels full of surprises
    </li>
    <li>
      <span class="text-bold text-2xl">MULTIPLAYER:</span> Online or local, up to 4, no split screen
    </li>
    <li>
      <span class="text-bold text-2xl">FAMILY FRIENDLY:</span> no violence, no combat, light horror theme
    </li>
    <li>
      <span class="text-bold text-2xl">PULP CTHULHU:</span> a modern, light and fun take on the Lovecraft's lore
    </li>
  </ul>
</div>